
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
.miama{
  font-family: 'Miama', sans-serif;
  font-weight: 400px;
  
}
@import url('https://fonts.cdnfonts.com/css/miama');


.color-primary{
  color: white;
}
.color-secondary{
  color: rgba(255, 255, 255, 0.5);
}
.color-title{
  color: rgb(230, 83, 60);
}
.text-primary{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}
.btn-primary{
  border: none;
  border-radius: 42px;
  background: rgb(230, 83, 60);
  padding: 16px 40px 16px 40px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.btn-secondary{
  border: 1px solid white;
  border-radius: 42px;
  padding: 16px 40px 16px 40px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: black;
}
.title{
  font-size: 48px;
  font-weight: 900px;
  margin-bottom: 0;
}
.subtitle{
  font-weight:900;
  font-size: 24px;
}

body{
    max-width: 1400px;
    margin: 0 auto;
    background-color: black;
}

.header{
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.navigation{
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 60px 190px;
}
.brand{
  font-size: 36px;
  font-style: italic;
}

.menu-container ul{
  display: flex;
  gap: 40px;
  align-items: center;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding:4px 12px;
  border-radius: 15px;
}
.menu-container ul li>a{
  text-decoration: none;
  color: white;
}
.menu-container ul>li:first-child{
  border: none;
  /* border: 1px solid rgb(230, 83, 60); */
  border-radius: 15px;
  padding:2px 10px;
  /* margin: 0; */
  background-color: rgb(230, 83, 60);
}
.alter-menu{
  display: none;
}
.banner-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 88px;
  padding: 40px 140px;
}
.banner-heading{
  font-size: 78px;
  font-weight: 900px;
  margin-bottom: 0;
}
.special{
  font-weight: 400;
  font-size: 150px;
  margin: 0;
  padding: 0;

}
.banner-img-container{
  width: 80%;
  height: 600px;
  background-image: url(../images/images2.png);
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position:right;
}
.sticker-top, .sticker-bot{
  width: 200px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
}
.sticker-top{
  position: relative;
  right:-420px;
  top: 125px;
}
.sticker-bot{
  position: relative;
  left:-50px;
  bottom: -350px;
}
.sticker-top h3{
  font-size: 40px;
  font-weight: 900px;
  margin: 0;
}
.sticker-top p{
  margin: 0;
}
.sticker-bot h3{
  font-size: 40px;
  font-weight: 900px;
  margin: 0;
}
.sticker-bot p{
  margin: 0;
}


.change-habit{
  max-width: 1044px;
  margin: 0 auto;
}
.habit-info{
  text-align: center;
  padding: 40px 0;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
}
.card-img > img{
  /* border: solid 2px orange; */
  border-radius: 50%;
}
.card h6{
  font-size: 18px;
  margin-bottom: 0;
}

.run-extra{
  background-color: rgb(34, 34, 34);
  border-radius: 18px;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  margin: 100px 0px;
}
.run-extra img{
  width: 100%;
  border-radius: 18px;
}

.training .img-container{
  display: flex;
  flex-direction: column;
}
.training .img-container .group1{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.training .img-container .group2{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  
}
.training .img-container img{
  width: 100%;
  height: 200px;
}

.bmi-info{
  max-width: 670px;
  margin: 0 auto;
  margin-bottom: 88px;
}
.calculator{
  background-color: rgb(34, 34, 34);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 175px;
  padding: 50px 190px;
}

.table, th, td{
  border: .5px solid rgba(255, 255, 255, 0.5);
  border-collapse: collapse;
  padding: 10px;
}
.bmi-form{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 12px;
}
.bmi-form input {
  padding:12px 40px 12px 20px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.check-bmi button{
  margin-top: 34px;
}

footer{
  background: rgba(255, 255, 255, 0.1);
  margin-top: 88px;
  padding: 66px 190px;
}
.footer-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 100px;
}
.get{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.footer-container ul li{
  list-style-type: none;
}
.fitness h2{
  font-size: 70px;
  font-weight: 800px;
  font-style: italic;
  margin: 0 20px;
}
.end{
  text-align: center;
}

@media screen and (max-width:577px) {
  .alter-menu{
    display:contents;
  }
  .menu-container{
    display: none;
  }
  .navigation{
    padding: 10px;
  }
  .banner-container{
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }
  .sticker-top{
  position: relative;
  right:-280px;
  top: 125px;
}
  .card-container{
    grid-template-columns: repeat(1, 1fr);
    padding: 0 50px;
  }
  .run-extra{
    padding: 20px;
    margin: 0;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
  }
  .bmi-info{
    padding: 20px;
  }
  .calculator{
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    gap: 10px;
  }
  .table{
    width: 90%;
  }
  footer{
    padding: 20px;
  }
  .footer-container, .get{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
  }
}

@media screen and (min-width:578px) and (max-width:900px) {
  
}